a,
img,
p,
h1,
h2,
.divider {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #08589e
}

img {
    display: block;
    padding: 15px 0px;
}

p {
    font-size: 18px;
    line-height: 1.4;
    font-family: "Georgia";
}

h1,
h2 {
    font-family: "Helvetica";
}

.divider {
    height: 2px;
    background-color: #08589e;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bigimg {
    max-width: 1200px;
}

#Name {
    font-size: 20px;
    line-height: 1.4;
    font-family: "Georgia";
    color: #08589e
}